/* SLICK APP WEBSITE */

/* Basic Styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

body {
    overflow-x: hidden;
}

img,
svg {
    max-width: 100%;
}

/* ------------ */

/* Home */

.home {
    background-color: #343233;
    height: 100vh;
    position: relative;
}

/* Header */

.header {
    height: 10vh;
    position: relative;
}

.items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.items li a {
    color: #8D8273;
}

/* ------------ */

/* Home2 */

.home2 {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 50px;
}

.home2 p {
    padding-top: 10px;
    color: #8D8273;
}

.home2 h1{
    width: 100%;
    margin: auto;
    font-size: 50px;
    color: #FFD152;
    font-weight: 100;
}

.fa-camera {
    font-size: 45px;
}

i {
    letter-spacing: 14px;
}

.spann {
    color: #8D8273;
}

.spann h2 {
    font-size: 45px;
    font-weight: 100;
}

.burger {
    display: none;
}

.mobile__items {
    display: none;
}

.items {
    display: flex;
}

/* ------------ */

/* ------------ */


/* ------------ */

/* Overview Section */

.overview {
    height: 100vh;
    display: grid;
    width: 100%;
    grid-template-columns: 5% 45% 2% 45% 3%;
    grid-template-rows: 20vh 30vh 30vh 20vh;
    background-color: #282627;
}

/* Over__Main Section */

.over__main {
    grid-row: 2/4;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    color: #8D8273;
}

.over__main h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.over__main p,
.last {
    font-size: 20px;
}

.last {
    margin-top: 30px;
}

.over__button {
    padding: 20px 45px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #FFD152;
    border: none;
    outline: none;
    margin-top: 30px;
    font-size: 20px;
}

/* ------------ */

/* Over__Img Section */

.over {
    max-width: 90%;
}

.over__img {
    grid-column: 4/5;
    grid-row: 2/4;
    align-self: center;
    justify-self: center;
}

/* ------------ */

/* ------------ */

/* Capture */

.capture {
    background-color: #343233;
    color: #8D8273;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.logo img {
    width: 100%;
    padding:50px;
}

.logo h2 {
    letter-spacing: 16px;
    font-size: 15px;
    margin-top: 40px;
}

.faa {
    font-size: 15px;
}

.h2 {
    font-size: 25px;
    margin-top: 30px;
}

.logo p {
    text-align: center;
    margin-top: 30px;
    width: 90%;
}

/* ------------ */

/* Features */

.features {
    display: grid;
    height: 100vh;
    width: 100%;
    background-color: #282627;
    grid-template-columns: 3%  45% 4% 45% 3%;
    align-content: center;
}

.feature__img{
    grid-column: 2/3;
}

.feature__main {
    grid-column: 4/5;
    color: #8D8273;
    font-weight: 100;
}

.feature__main h1 {
    font-size: 50px;
}

.feature__main p{
    margin-top: 15px;
}

.content {
    margin-top: 25px;
}

/* ------------ */

/* Download Section */

.download {
    height: 100vh;
    width: 100%;
    background-color: #343233;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.down__content {
    color: #8D8273;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down__content h1 {
    font-size: 50px;
}

.down__content p {
    margin-top: 30px;
    text-align: center;
}

.emails {
    width: 100%;
    margin-top: 30px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.email {
    margin-top: 30px;
    border-radius: 2px;
    border: 1px solid #8D8273;
    outline: none;
    width: 80%;
    background-color: transparent;
    padding: 20px 50px 20px 50px;
    font-size: 20px;
    color: rgb(129, 120, 107);
}

.down__button {
    padding: 20px 45px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #FFD152;
    border: none;
    outline: none;
    margin-top: 30px;
    font-size: 20px;
}

/*--------------*/

/* Footer */

.footer {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #282627;
    color: #8D8273;
}

.footer h1 {
    font-size: 20px;
    letter-spacing: 10px;
}

.footer h1 a {
    color: #8D8273;
}

/*-------------------*/

/* Media Queries */


@media(max-width: 580px) {
    
    .lines {
        width: 10%;
    }

    .line {
        background-color: #8D8273;
        width: 15px;
        height: 3px;
    }

    .line2 {
        margin-top: 2px;
    }

    .line3 {
        margin-top: 2px;
    }

    .mobile__items li a {
        color: #8D8273;
        text-transform: uppercase;
        font-size: 17px;
    }

    .header {
        position: relative;
    }
    
    .mobile__items {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .burger {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }

    .header {
        background-color: #282627;
    }

    .items {
        display: none;
    }

    .spann h2 {
        font-size: 23px;
    }

    .fa-camera {
        font-size: 23px;
    }

    .home2 p {
        display: none;
    }

    .spann {
        width: 100%;
    }  

}

@media(max-width: 600px) {
    .over__main h1 {
        font-size: 40px;
    }
    .over__main p,
    .last {
        font-size: 16px;
    }
    .overview {
        grid-template-columns: 1fr;
        grid-template-rows: 5vh 45vh 45vh 5vh;
        height: 100vh;
    }
    .over__main {
        margin: 20px;
        grid-column: 1/5;
        grid-row: 1/3;
        align-self: flex-start;
        justify-self: center;
    }
    .over__img {
        margin-top: 210px;
        margin: 20px;
        grid-row: 3/45;
        align-self: center;
        justify-self: center;
    } 
    .over__button {
        padding: 15px 40px;
        font-size: 16px;
    }
}

@media(max-height: 740px) {
    .last {
        display: none;
    }
    .over__button {
        margin: 0;
        margin-top: 20px;
    }
}

@media(max-width: 600px) {
    .features {
        height: 160vh;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh  30vh 90vh 20vh;
        padding: 20px;
    }
    .feature__img {
        grid-column: 1/5;
        grid-row: 2/3;
        align-self: center;
    }
    .feature__main {
        grid-column: 1/5;
        grid-row: 3/4;
        align-self: center;
    }
    .feature__main h1 {
        font-size: 50px;
    }

}

@media(max-width: 713px) {
    .down__content h1 {
        font-size: 30px;
    }
}

@media(max-width: 425px) {
    .down__content h1 {
        font-size: 25px;
    }
    .down__content p {
        font-size: 21px;
    }
}

@media(max-width: 713px) {
    .footer h1 {
        font-size: 13px;
    }
}


/* ---------------*/